:root{
    --title-font: 'Satoshi', sans-serif;
    --text-font: 'General Sans', sans-serif;

    --primary-color: #4B6BFB;
    --light-primary-color: #deebff;
    --pale-primary-color: #edf4ff;
    --black-title: #232536;
    --gray-text: #6D6E76;
    --green: #36B37E;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--text-font);
    color: var(--gray-text);
}

h1, h2, h3, h4, h5, h6, a{
    font-family: var(--title-font);
    color: var(--black-title);
}

ion-icon{
    transition: z-index .5s ease-in-out;
}

.wrapper{
    width: 100%;
    max-width: 700px;
    padding: 110px 28px 0px 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main{
    padding-top: 90px;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav{
    width: 100%;
    max-width: 700px;
    height: 90px;
    padding: 32px 28px;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 0px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.nav__logo a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    text-decoration: none;
    color: #000;
}

.nav__logo__figure, .nav__logo__figure img{
    width: 33px;
    height: 33px;
}

.nav__logo__title{
    font-size: 24px;
    font-weight: 700;
}

.nav__logo__title strong{
    font-weight: 900;
}

.nav__links, .nav__form{
    display: none;
}

.nav__group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav__group label{
    height: 28px;
}

.nav__group ion-icon{
    font-size: 28px;
    cursor: pointer;
}

.nav__group .menu-icon{
    z-index: 99;
}

.nav__group .menu-icon.light{
    background-color: #000;
    color: #fff;
}

.nav__links {
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0px;
    z-index: 99;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    list-style: none;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
}

.nav__links.active {
    transform: translateX(0);
}

.nav__links .nav__links__item a{
    display: inline-block;
    width: 150px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 5px 30px;
    border-left: 1px solid #fff;
    transition: .3s all;
    text-align: center;
}

.nav__links .nav__links__item a:hover, .nav__links .nav__links__item a:focus{
    background-color: #fff;
    color: #000;
}

.search-icon, .menu-icon{
    background-color: #fff;
    border: none;
}

/* Hero */

.hero{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.hero__content__category{
    font-family: var(--title-font);
    font-size: 14px;
    line-height: 20px;
    color: var(--black-title);
}

.hero__content__title{
    font-size: 28px;
    line-height: 38px;
    margin: 25px 0px 18px 0px;
}

.hero__content__paragraph{
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 25px;
}

.hero__content__cta{
    display: flex;
    width: 100%;
    max-width: 200px;
    padding: 16px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.hero__content__cta:hover, .hero__content__cta:focus{
    background-color: #4461e0;
    transform: scale(1.03);
}

.hero__picture{
    width: 100%;
    height: 300px;
    background: url("/assets/img/banner-post.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

/* Post */

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(23, 43, 77, 0.3);
}

.article__section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.article__section__title{
    font-size: 24px;
    line-height: 36px;
}

.article__section__subtitle{
    font-size: 20px;
    line-height: 36px;
}

.article__section__third__title{
    font-size: 18px;
    line-height: 36px;
}

.article__section__paragraph__group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.article__section__paragraph{
    font-size: 14px;
    line-height: 28px;
    text-align: justify;
}

.article__section__details{
    background-color: var(--pale-primary-color);
    border-radius: 5px;
    border-end-end-radius: 5px;
    border-end-start-radius: 5px;
}

.article__section__details__title{
    padding: 10px 15px;
    background-color: var(--light-primary-color);
    border-start-end-radius: 5px;
    border-start-start-radius: 5px;
    font-size: 16px;
    color: var(--black-title);
    cursor: pointer;
}

.article__section__details__index{
    list-style: none;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
}

.article__section__details__index__item a{
    font-size: 14px;
    text-decoration: underline;
    color: var(--gray-text);
}

.article__section__details__index__item.subitem{
    padding-left: 15px;
}

.article__section__details__index__item.third__item{
    padding-left: 30px;
}

.article__section__figure{
    margin: 20px 0px;
}

.article__section__figure img{
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 10px 10px rgba(15, 24, 44, 0.15);
}

.article__section__cite{
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    margin: 30px 0px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.article__section__cite__picture{
    width: 100%;
    background-position: center;
    background-size: cover;
    border-start-start-radius: 8px;
    border-start-end-radius: 8px;
}

.article__section__cite__picture#hall{
    background-image: url("/assets/cites/Stuart\ Hall.jpg");
}

.article__section__cite__picture#uao{
    background-image: url("/assets/cites/UAO.jpg");
}

.article__section__cite__picture#distincion{
    background-image: url("/assets/cites/Cultura\ y\ Naturaleza.jpg");
}

.article__section__cite__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 10px;
    padding: 24px;
}

.article__section__cite__content__span{
    font-size: 13px;
    padding: 4px 16px;
    width: 138px;
    background-color: #EC5C2E;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}

.article__section__cite__content__cite{
    font-size: 14px;
    line-height: 20px;
    font-style: italic;
}

.article__section__cite__content__reference{
    font-size: 14px;
    line-height: 24px;
}

.article__section__cards{
    margin: 30px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.article__section__cards__item{
    width: 280px;
    background-color: #fff;
    border-radius: 8px;
    padding: 16px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.article__section__cards__item__figure{
    width: 100%;
    height: 180px;
}

.article__section__cards__item__figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.article__section__cards__item__figure__content{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px 5px;
}

.article__section__cards__item__figure__content__title{
    font-size: 16px;
    line-height: 32px;
}

.article__section__cards__item__figure__content__paragraph{
    font-size: 14px;
    line-height: 20px;
}

.article__section__layout{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 30px 0px;
}

.article__section__layout__figure{
    width: calc(100% - 200px);
    height: 500px;
    cursor: pointer;
    transition: width .3s ease-in-out;
}

.article__section__layout.two-columns .article__section__layout__figure{
    width: calc(100% - 100px);
}

.article__section__layout__figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article__section__layout__figure:hover{
    width: calc(100% - 150px);
    height: 500px;
    cursor: pointer;
    transition: width .5s ease-in-out;
}

.article__section__layout.two-columns .article__section__layout__figure:hover{
    width: calc(100%);
}

.article__section__collage{
    width: 100%;
    aspect-ratio: 1/1;
    margin: 30px 0px;
    display: grid;
    grid-template-areas: "top top top"
                         "left middle right"
                         "bottom bottom bottom";
    gap: 8px;
    cursor: pointer;
    transition: .5s transform ease-in-out;
}

.article__section__collage:hover{
    transform: scale(1.02);
}

.article__section__collage > div{
    background-position: center;
    background-size: cover;
}

.article__section__collage__top{
    grid-area: top;
    background-image: url("/assets/img/Afro\ Collage\ Top.jpg");
}

.article__section__middle__left{
    grid-area: left;
    background-image: url("/assets/img/Misak\ Collage\ Left.jpeg");
}

.article__section__middle__center{
    grid-area: middle;
    background-image: url("/assets/img/Cultura\ Collage\ Middle.jpg");
}

.article__section__middle__right{
    grid-area: right;
    background-image: url("/assets/img/Afro\ Collage\ Right.jpg");
}

.article__section__collage__bottom{
    grid-area: bottom;
    background-image: url("/assets/img/Indigena\ Collage\ Bottom.jpg");
}

.sidebar{
    width: 100%;
}

.sidebar__inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.profile{
    padding: 35px 22px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
    background-color: rgba(201, 220, 245, 0.5);
}

.profile__top{
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile__top__figure{
    width: 60px;
    height: 60px;
}

.profile__top__figure img{
    width: 100%;
    height: 100%;
    border-radius: 2000px;
    object-fit: cover;
}

.profile__top__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile__top__content__name{
    font-size: 18px;
    line-height: 36px;
}

.profile__top__content__name__insight{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

.profile__top__content__name__insight ion-icon{
    color: var(--green);
}

.profile__content__biography{
    font-size: 15px;
}

.related{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.related__title{
    font-size: 16px;
    line-height: 24px;
}

.related__post{
    display: flex;
    flex-direction: column;
}

.related__post__article{
    display: grid;
    grid-template-columns: 80px 1fr;
    align-items: center;
    gap: 12px;
    padding: 22px 0px;
    border-bottom: 1px solid rgba(201, 220, 245, 0.5);
}

.related__post__article:nth-child(3){
    border: none;
}

.related__post__article__figure{
    width: 80px;
    height: 80px;
}

.related__post__article__figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.related__post__article__container{
    display: flex;
    flex-direction: column;
    color: var(--black-title);
}

.related__post__article__container__category{
    font-size: 13px;
    line-height: 21px;
    font-family: var(--title-font);
}

.related__post__article__container__name a{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    transition: .3s color ease-in-out;
}

.related__post__article__container__name a:hover, .related__post__article__container__name a:focus{
    color: var(--primary-color);
}

/* Join */

.join{
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 16px;
    margin: 50px 0px;
}

.join__title{
    font-size: 24px;
    line-height: 48px;
}

.join__paragraph{
    font-size: 14px;
    line-height: 28px;
}

.join__cta{
    display: inline-block;
    background-color: var(--primary-color);
    color: #fff;
    padding: 12px 48px;
    border-radius: 15px;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.join__cta:hover, .join__cta:focus{
    background-color: #4461e0;
    transform: scale(1.03);
}

/* Footer */

.footer{
    margin-top: 80px;
    background-color: #000;
    width: 100%;
    padding: 30px 15%; /* Ajusta el valor de acuerdo a tus necesidades */
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.footer__left__title{
    font-size: 20px;
    line-height: 28px;
    color: #fff;
}

.footer__left__title strong{
    font-weight: 900;
}

.footer__left__copyright{
    font-size: 14px;
    line-height: 24px;
}

.footer__right__list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.footer__right__list__item{
    padding-right: 10px;
    border-right: 1px solid #fff;
}

.footer__right__list__item:last-child{
    border: none;
}

.footer__right__list__item a{
    text-decoration: none;
    color: #fff;
    font-family: var(--text-font);
    font-size: 14px;
}

@media screen and (min-width: 550px) {
    .article__section__cite{
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .article__section__cite__picture{
        border-radius: 0px;
        border-start-start-radius: 8px;
        border-end-start-radius: 8px;
    }
    
    .article__section__cite__content__span{
        font-size: 14px;
        width: 145px;
    }
    
    .article__section__cite__content__cite{
        font-size: 15px;
    }
    
    .article__section__cite__content__reference{
        font-size: 15px;
    }
}

@media screen and (min-width: 700px) {
    .nav{
        left: 50%;
        margin-left: -350px;
    }
}

@media screen and (min-width: 1000px){
    .wrapper{
        max-width: 1200px;
        padding: 110px 118px 0px 118px;
    }

    .nav{
        padding: 32px 118px;
        max-width: 1200px;
        left: 50%;
        transform: translateX(-50%);
        margin-left: 0px;
    }

    .nav__links {
        width: 100%;
        position: static;
        right: auto;
        top: auto;
        bottom: auto;
        background-color: #fff;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 40px;
        list-style: none;
        transform: translateX(0%);
    }

    .nav__group{
        display: none;
    }

    .nav__links .nav__links__item a{
        display: inline;
        color: #3B3C4A;
        font-size: 16px;
        padding: 5px 0px;
        border: none;
    }

    .nav__form{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .nav__form__field{
        width: 166px;
        height: 36px;
        padding: 8px 44px 8px 16px;
        outline: none;
        border: none;
        border-radius: 5px;
        font-family: var(--text-font);
        font-size: 14px;
        background-color: #F4F4F5;
        position: relative;
    }

    .nav__form ion-icon{
        position: absolute;
        right: 15px;
        color: #52525B;
    }

    .hero{
        display: grid;
        grid-template-columns: 750px 1fr;
        grid-template-areas: "picture content";
        position: relative;
        gap: 0px;
    }

    .hero__content{
        order: 1;
        width: 575px;
        padding: 35px;
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: #fff;
    }

    .hero__content__category{
        font-size: 16px;
    }
    
    .hero__content__title{
        font-size: 48px;
        line-height: 64px;
        margin: 21px 0px 12px 0px;
    }
    
    .hero__content__paragraph{
        font-size: 16px;
        text-align: justify;
    }
    
    .hero__content__cta{
        max-width: 260px;
        font-size: 18px;
    }

    .hero__picture{
        height: 500px;
        border-radius: 0px;
    }

    .main{
        display: grid;
        grid-template-columns: 600px 1fr;
        align-items: flex-start;
        gap: 46px;
        border-bottom: 1px solid rgba(23, 43, 77, 0.3);
    }

    .article{
        gap: 24px;
        padding-bottom: 60px;
        border: none;
    }

    .article__section__title{
        font-size: 36px;
        line-height: 48px;
    }
    
    .article__section__subtitle{
        font-size: 28px;
        line-height: 36px;
    }
    
    .article__section__third__title{
        font-size: 24px;
        line-height: 36px;
    }

    .article__section__paragraph{
        font-size: 16px;
    }

    .article__section__details__title{
        padding: 15px 20px;
        font-size: 18px;
    }
    
    .article__section__details__index{
        padding: 20px;
        gap: 10px;
    }
    
    .article__section__details__index__item a{
        font-size: 16px;
    }

    .article__section__cards__item__figure__content__title{
        font-size: 18px;
        line-height: 32px;
    }
    
    .article__section__cards__item__figure__content__paragraph{
        font-size: 16px;
        line-height: 20px;
    }

    .profile{
        padding: 35px 22px;
    }

    .profile__top__content__name{
        font-size: 16px;
        line-height: 28px;
    }
    
    .profile__top__content__name__insight{
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 14px;
    }

    .join{
        max-width: 500px;
    }

    .join__title{
        font-size: 36px;
    }
    
    .join__paragraph{
        font-size: 16px;
    }
    
    .join__cta{
        font-size: 18px;
        padding: 16px 48px;
    }

    .footer{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
    
    .footer__left__copyright{
        font-size: 15px;
    }
    
    .footer__right__list__item a{
        font-size: 15px;
    }
}