:root{
    --title-font: 'Satoshi', sans-serif;
    --text-font: 'General Sans', sans-serif;

    --primary-color: #4B6BFB;
    --light-primary-color: #deebff;
    --pale-primary-color: #edf4ff;
    --black-title: #232536;
    --gray-text: #6D6E76;
    --green: #36B37E;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--text-font);
    color: var(--gray-text);
}

h1, h2, h3, h4, h5, h6, a{
    font-family: var(--title-font);
    color: var(--black-title);
}

ion-icon{
    transition: z-index .5s ease-in-out;
}

.wrapper{
    width: 100%;
    max-width: 700px;
    padding: 110px 28px 0px 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav{
    width: 100%;
    max-width: 700px;
    height: 90px;
    padding: 32px 28px;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 0px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.nav__logo a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    text-decoration: none;
    color: #000;
}

.nav__logo__figure, .nav__logo__figure img{
    width: 33px;
    height: 33px;
}

.nav__logo__title{
    font-size: 24px;
    font-weight: 700;
}

.nav__logo__title strong{
    font-weight: 900;
}

.nav__links, .nav__form{
    display: none;
}

.nav__group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav__group label{
    height: 28px;
}

.nav__group ion-icon{
    font-size: 28px;
    cursor: pointer;
}

.nav__group .menu-icon{
    z-index: 99;
}

.nav__group .menu-icon.light{
    background-color: #000;
    color: #fff;
}

.nav__links {
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0px;
    z-index: 99;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    list-style: none;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
}

.nav__links.active {
    transform: translateX(0);
}

.nav__links .nav__links__item a{
    display: inline-block;
    width: 150px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 5px 30px;
    border-left: 1px solid #fff;
    transition: .3s all;
    text-align: center;
}

.nav__links .nav__links__item a:hover, .nav__links .nav__links__item a:focus{
    background-color: #fff;
    color: #000;
}

.search-icon, .menu-icon{
    background-color: #fff;
    border: none;
}

/* Hero */

.hero{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.hero__content__category{
    font-family: var(--title-font);
    font-size: 14px;
    line-height: 20px;
    color: var(--black-title);
}

.hero__content__title{
    font-size: 28px;
    line-height: 38px;
    margin: 25px 0px 18px 0px;
}

.hero__content__paragraph{
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 25px;
}

.hero__content__cta{
    display: flex;
    width: 100%;
    max-width: 200px;
    padding: 16px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.hero__content__cta:hover, .hero__content__cta:focus{
    background-color: #4461e0;
    transform: scale(1.03);
}

.hero__picture{
    width: 100%;
    height: 300px;
    background: url("/assets/img/banner-post.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

@media screen and (min-width: 700px) {
    .nav{
        left: 50%;
        margin-left: -350px;
    }
}

/* Post */

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(23, 43, 77, 0.3);
}

.article__section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.article__section__title{
    font-size: 24px;
    line-height: 36px;
}

.article__section__subtitle{
    font-size: 20px;
    line-height: 36px;
}

.article__section__third__title{
    font-size: 18px;
    line-height: 36px;
}

.article__section__paragraph__group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.article__section__paragraph{
    font-size: 14px;
    line-height: 28px;
}

.article__section__details{
    background-color: var(--pale-primary-color);
    border-radius: 5px;
    border-end-end-radius: 5px;
    border-end-start-radius: 5px;
}

.article__section__details__title{
    padding: 10px 15px;
    background-color: var(--light-primary-color);
    border-start-end-radius: 5px;
    border-start-start-radius: 5px;
    font-size: 16px;
    color: var(--black-title);
    cursor: pointer;
}

.article__section__details__index{
    list-style: none;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
}

.article__section__details__index__item a{
    font-size: 14px;
    text-decoration: underline;
    color: var(--gray-text);
}

.article__section__details__index__item.subitem{
    padding-left: 15px;
}

.article__section__details__index__item.third__item{
    padding-left: 30px;
}

.sidebar{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.profile{
    padding: 35px 22px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
    background-color: rgba(201, 220, 245, 0.5);
}

.profile__top{
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile__top__figure{
    width: 60px;
    height: 60px;
}

.profile__top__figure img{
    width: 100%;
    height: 100%;
    border-radius: 2000px;
    object-fit: cover;
}

.profile__top__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile__top__content__name{
    font-size: 18px;
    line-height: 36px;
}

.profile__top__content__name__insight{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

.profile__top__content__name__insight ion-icon{
    color: var(--green);
}

.profile__content__biography{
    font-size: 15px;
}

.related{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.related__title{
    font-size: 16px;
    line-height: 24px;
}

.related__post{
    display: flex;
    flex-direction: column;
}

.related__post__article{
    display: grid;
    grid-template-columns: 80px 1fr;
    align-items: center;
    gap: 12px;
    padding: 22px 0px;
    border-bottom: 1px solid rgba(201, 220, 245, 0.5);
}

.related__post__article:nth-child(3){
    border: none;
}

.related__post__article__figure{
    width: 80px;
    height: 80px;
}

.related__post__article__figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.related__post__article__container{
    display: flex;
    flex-direction: column;
    color: var(--black-title);
}

.related__post__article__container__category{
    font-size: 13px;
    line-height: 21px;
    font-family: var(--title-font);
}

.related__post__article__container__name a{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
}